<div class="container">
  <div class="row">
    <div class="col-md-4" style="float: none; margin: 0 auto;">
      <h1>Login</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" 
            id="emailInput" aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
            />
            <span 
            *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
            class="help-block">Please enter a valid Email.</span>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. (it's a lie)</small>
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" 
            class="form-control" id="passwordInput" 
            placeholder="Password"
            formControlName="password"
            />
            <span 
            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
            class="help-block">Please enter a valid Password.</span>
          </div>
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!loginForm.valid">Login</button>
          <br>
          <div class="form-group" *ngIf="!isUserLogged">
            <h3>Loading...</h3>
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
          </div>
        </form>
    </div>
  </div> 
</div>
