
<br>
<div class="container col-md-5" *ngIf="!usersLoaded" style="float: none; margin: 0 auto;">
  <h3>Loading...</h3>
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>

<div class="container col-md-5" *ngIf="usersLoaded" style="float: none; margin: 0 auto;">
  <ul class="list-group" *ngFor="let user of users; let i = index">
    <div class="listBorder" (click)="showTasks(user[i].Id, i)">
     {{ i+1 }}. {{ user[i].Name }} {{ user[i].Surname }}
    </div>
    <div *ngIf="tasksFlag[i]">
        <div *ngFor="let task of tasks">  
          <h4 class="titles">{{task.Text}}</h4>
          <ul>
            <li>Date: {{task.Date | date: "dd.MM.yyyy"}}</li>
            <li>Solved: {{task.Solved}}</li>
          </ul>
        </div>
      </div>
  </ul>
  
  

</div>

