.listBorder {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(68, 67, 67, 0.32);
}

.listBorder:hover {
 font-weight: bold;
 background-color: rgb(68, 165, 255);
 cursor: pointer;
}
