<div class="container">
  <div class="col-md-5">
    <ul class="list-group list-group-flush">
      <h2 class="titles">Tasks:</h2>
      <li class="list-group-item" *ngFor="let task of tasks; let i = index">
        {{task.Text}}
        <ul>
          <li>Date: {{task.Date}}</li>
          <li>Solved: {{task.Solved}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="ui-g-12 ui-md-4">
    <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
    <br>
    <button type="button" class="btn btn-primary pull-left" (click)="onTestDate()">Save</button>
</div>

</div>