<div class="container ">
  <div class="row">
    <div class="col-md-4" style="float: none; margin: 0 auto;">
      <h1>Register </h1>
        <form>
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="First Name" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="surname">Last Name</label>
            <input type="text" class="form-control" id="surname" placeholder="Last Name" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
          </div>
          <div>
            <button type="submit" class="btn btn-primary pull-right">Register</button>
          </div>
        </form>
    </div>
  </div> 
</div>
